<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buddybuilding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".tools.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.BMIActivity"></activity>
        <activity android:name=".activities.RecyclerViewZirBaqalListActivity" />
        <activity android:name=".activities.RecyclerViewShekamListActivity" />
        <activity android:name=".activities.RecyclerViewSarShooneListActivity" />
        <activity android:name=".activities.RecyclerViewSaedListActivity" />
        <activity android:name=".activities.RecyclerViewPoshBazooListActivity" />
        <activity android:name=".activities.RecyclerViewPaaListActivity" />
        <activity android:name=".activities.RecyclerViewPahlooListActivity" />
        <activity android:name=".activities.RecyclerViewJoloBazooListActivity" />
        <activity android:name=".activities.PlayVideoActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>